.offer {
  background-color: #b36b0d;
  padding: 1px;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.offer:hover {
  text-decoration: underline;
}


.header {
  position: sticky;
  top: 0;
  background-color: rgb(253, 253, 251);
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 20px;
}


.head-text {
  display: flex;
  align-items: center;
  column-gap: 20px;
  cursor: pointer;
}

.head-text p {
  margin: 0;
  text-decoration: none;
}

.head-text p:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-top: 10px;
  width: 35%;
  height: 40px;
  border-radius: 10px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}

.rating input {
  display: none;
}

.rating label {
  display: inline-block;
  padding: 5px;
  font-size: 24px;
  cursor: pointer;
}

.rating label:before {
  content: "\2605";
  color: #1f1d1d;
}

.footer {
  top: 0;
  /* background-color: rgb(192, 16, 16); */
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
  margin-left: 75px;
  width: 30%;
  height: 25px;
}

input[type="email"]:hover {
  border-color: #080808;
}

h5 {
  text-decoration: none;
  cursor: pointer;
}

h5:hover {
  text-decoration: underline;
}

div[style*="margin-left: 15px"] {
  text-decoration: none;
  cursor: pointer;
}

div[style*="margin-left: 15px"]:hover {
  text-decoration: underline;
}

.flex-column div p {
  text-decoration: none;
  cursor: pointer;
}

.flex-column div p:hover {
  text-decoration: underline;
}

.flex p {
  text-decoration: none; /* Remove the default underline */
  cursor: pointer;
}

.flex p:hover {
  text-decoration: underline; /* Add underline on hover */
}