.header {
  background-color: #b36b0d;
  padding: 1px;
  text-align: center;
  color: white;
  cursor: pointer;
}


.header-text {
  position:sticky ;
  top: 0;
  background-color: rgb(253, 253, 251);
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 20px;
}


.head {
  display: flex;
  align-items: center;
  column-gap: 20px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-top: 10px;
  width: 35%;
  height: 40px;
  border-radius: 10px;
  background-color: green;
  color: white;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}

.rating input {
  display: none;
}

.rating label {
  display: inline-block;
  padding: 5px;
  font-size: 24px;
  cursor: pointer;
}

.rating label:before {
  content: "\2605";
  color: #1f1d1d;
}

.field__input {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
outline: none;
}